<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>unolistado</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="uno"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">unolistado</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid class="card">
    <ion-row>
      <ion-col class="ion-content-center">
        
        <ion-item *ngFor="let persona of personas" [routerLink]="['/dos/'+ persona.rut]" >
          <ion-label>{{persona.rut}}</ion-label>
          <ion-label>{{persona.nombre}}</ion-label>
          <ion-label>{{persona.pass}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
    
    
      
  
</ion-content>
