<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>dos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">dos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngIf="personaDatos">
    <ion-item>
      <ion-label>RUT:</ion-label>
      <ion-text>{{ personaDatos.rut }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Nombre:</ion-label>
      <ion-text>{{ personaDatos.nombre }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Edad:</ion-label>
      <ion-text>{{ personaDatos.edad }}</ion-text>
    </ion-item>
  </ng-container>

  <ion-button (click)="eliminarPorRut()">eliminar</ion-button>
  
</ion-content>
